<section class="content-section {{model.name}}">
	<div class="row align-middle {{model.name}}-portfolio-item">
		<div class="columns small-12 medium-5 portfolio-item-text-container">
			<h3 class="small-title">{{model.name}}</h3>
			<h2 class="portfolio-item-subtitle">{{model.thumbnailSubtitle}}</h2>
			<div class="portfolio-item-description">{{model.description}}</div>
			<div class="view-link">
				{{#link-to "project" model.id}}
					<span>view</span>
					{{svg-arrow}}
				{{/link-to}}
			</div>
		</div>
		<div class="columns small-12 medium-7 portfolio-item-image-container">
			<!-- {{img-with-load class=model.name src=model.thumbnailImage srcSet=model.thumbnailImageSrcset sizes=model.thumbnailImageSizes}} -->
			<img class="{{model.name}} load-image" src="{{model.thumbnailImage}}" srcset="{{model.thumbnailImageSrcset}}" sizes="{{model.thumbnailImageSizes}}">
		</div>
	</div>
</section>
