<img class="{{class}} {{if loading 'loading' 'loaded'}}" src="{{src}}" srcset="{{srcSet}}" sizes="{{sizes}}">
<!-- <div class="loading-image-container {{if loading 'loading' 'loaded'}}"> -->
	<!-- <div id="loader">
	  <div class="rect"></div>
	  <div class="rect"></div>
	  <div class="rect"></div>
	</div> -->
<!-- </div> -->
