{{#liquid-bind model class="project-container" as |currentModel|}}
	{{project-banner model=currentModel}}
	<div class="project-contents">
		{{#each currentModel.contents as |content|}}
			{{#if content.isHeader}}
				{{project-header model=content.content}}
			{{/if}}
			{{#if content.isBody}}
				{{project-body model=content}}
			{{/if}}
			{{#if content.isImage}}
				{{project-image model=content}}
			{{/if}}
			{{#if content.isComponent}}
				{{project-component model=content}}
			{{/if}}
		{{/each}}
	</div>
{{/liquid-bind}}
{{secondary-nav model=allProjects currentProject=model}}
