<div class="loading-overlay {{if showOverlay 'visible' 'hidden'}}">
	{{loading-overlay}}
</div>
<section>
	{{main-nav}}
</section>
{{liquid-outlet}}
<!-- <button {{action 'scroll'}}>SCROLL</button> -->