<div id="mobile-nav" class="header-container {{if isMenuOpen "open" "closed"}}">
	<div class="header-logo">
		<img src="assets/images/K-Square-Yellow.png">
		<div class="kate-white">Kate White</div>
	</div>
	<div class="nav">
		<a class="menu-icon {{if isMenuOpen "open" "closed"}}" {{action "toggleMenuState"}}>
				{{fa-icon "remove" size=2}}
				{{fa-icon "navicon" size=2}}
		</a>
			<ul class="nav-list">
				<li class="nav-item">
					{{#link-to 'work' activeClass="active-nav" invokeAction=(action 'toggleMenuState')}}
						Work
						{{svg-arrow}}
					{{/link-to}}
				</li>
				<li class="nav-item">
					{{#link-to 'about' activeClass="active-nav" invokeAction=(action 'toggleMenuState')}}
						About
						{{svg-arrow}}
					{{/link-to}}
				</li>
				<li class="nav-item">
					{{#link-to 'contact' activeClass="active-nav" invokeAction=(action 'toggleMenuState')}}
						Contact
						{{svg-arrow}}
					{{/link-to}}
				</li>
			</ul>
	</div>
</div>